<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MMS.BLL.Properties.Settings.MarkManagementSystemConnectionString"
            connectionString="Data Source=.\SQL2008;AttachDbFilename=C:\Users\a\Desktop\MarkManagementSystem\MarkManagementSystem.mdf;Integrated Security=True;Connect Timeout=30;User Instance=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>