@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
		<title>Unicorn Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="~/Content/themes/bshome/bootstrap.min.css"/>
		<link rel="stylesheet" href="~/Content/themes/bshome/bootstrap-responsive.min.css"/>
		<link rel="stylesheet" href="~/Content/themes/bshome/unicorn.main.css"/>
		<link rel="stylesheet" href="~/Content/themes/bshome/unicorn.grey.css" class="skin-color"/>
	<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script> 
    <script type="text/javascript" src="~/Scripts/unicorn.js"></script> 
	</head>
	<body>
		
		
		<div id="header">
			<h1><a href="file:///E:/GitHub/torsion/torsion/test/dashboard.html">Unicorn Admin</a></h1>		
		</div>
		
		
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group" style="width: auto; margin: 0px;">
                <li class="btn btn-inverse"><a title="" href="file:///E:/GitHub/torsion/torsion/test/index.html#"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn btn-inverse dropdown" id="menu-messages"><a href="file:///E:/GitHub/torsion/torsion/test/index.html#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="sAdd" title="" href="file:///E:/GitHub/torsion/torsion/test/index.html#">new message</a></li>
                        <li><a class="sInbox" title="" href="file:///E:/GitHub/torsion/torsion/test/index.html#">inbox</a></li>
                        <li><a class="sOutbox" title="" href="file:///E:/GitHub/torsion/torsion/test/index.html#">outbox</a></li>
                        <li><a class="sTrash" title="" href="file:///E:/GitHub/torsion/torsion/test/index.html#">trash</a></li>
                    </ul>
                </li>
                <li class="btn btn-inverse"><a title="" href="file:///E:/GitHub/torsion/torsion/test/index.html#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn btn-inverse"><a title="" href="file:///E:/GitHub/torsion/torsion/test/login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
			<a href="file:///E:/GitHub/torsion/torsion/test/index.html#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
			<ul style="display: block;">
				<li class="active"><a href="file://192.168.80.88/%E7%94%A8%E6%88%B7%E9%85%8D%E7%BD%AE$/8774/%E6%A1%8C%E9%9D%A2/Unicorn%20Admin_files/Unicorn%20Admin.html"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
				<li class="submenu">
					<a href="file:///E:/GitHub/torsion/torsion/test/index.html#"><i class="icon icon-th-list"></i> <span>Form elements</span> <span class="label">3</span></a>
					<ul style="display: none;">
						<li><a href="file:///E:/GitHub/torsion/torsion/test/form-common.html">Common elements</a></li>
						<li><a href="file:///E:/GitHub/torsion/torsion/test/form-validation.html">Validation</a></li>
						<li><a href="file:///E:/GitHub/torsion/torsion/test/form-wizard.html">Wizard</a></li>
					</ul>
				</li>
				<li><a href="file:///E:/GitHub/torsion/torsion/test/buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
				<li><a href="file:///E:/GitHub/torsion/torsion/test/interface.html"><i class="icon icon-pencil"></i> <span>Interface elements</span></a></li>
				<li><a href="file:///E:/GitHub/torsion/torsion/test/tables.html"><i class="icon icon-th"></i> <span>Tables</span></a></li>
				<li><a href="file:///E:/GitHub/torsion/torsion/test/grid.html"><i class="icon icon-th-list"></i> <span>Grid Layout</span></a></li>
				<li class="submenu">
					<a href="file:///E:/GitHub/torsion/torsion/test/index.html#"><i class="icon icon-file"></i> <span>Sample pages</span> <span class="label">4</span></a>
					<ul>
						<li><a href="file:///E:/GitHub/torsion/torsion/test/invoice.html">Invoice</a></li>
						<li><a href="file:///E:/GitHub/torsion/torsion/test/chat.html">Support chat</a></li>
						<li><a href="file:///E:/GitHub/torsion/torsion/test/calendar.html">Calendar</a></li>
						<li><a href="file:///E:/GitHub/torsion/torsion/test/gallery.html">Gallery</a></li>
					</ul>
				</li>
				<li>
					<a href="file:///E:/GitHub/torsion/torsion/test/charts.html"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a>
				</li>
				<li>
					<a href="file:///E:/GitHub/torsion/torsion/test/widgets.html"><i class="icon icon-inbox"></i> <span>Widgets</span></a>
				</li>
			</ul>
		
		</div>
		
		
		
		<div id="content">
			<div id="content-header">
				<h1>Dashboard</h1>
				
			</div>
			<div id="breadcrumb">
				<a href="file:///E:/GitHub/torsion/torsion/test/index.html#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
				<a href="file:///E:/GitHub/torsion/torsion/test/index.html#" class="current">Dashboard</a>
			</div>
			<div class="container-fluid">
				
				
				
				
				<div class="row-fluid">
					<div id="footer" class="span12">
						2012 © Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">diablo9983</a>
					</div>
				</div>
			</div>
		</div>
		

            
     
	

<ul class="typeahead dropdown-menu"></ul>
</body>
</html>