@model torsion.Model.Menus
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Anviz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
   <style type="text/css">
body{margin:0px;padding:0px;}
.glf_mvBox{height:15px; background:#F5FAFD url("/Content/themes/img/loading_1_2.png") no-repeat left center; width:471px; position:relative; padding:0 30px; margin:0 auto;}
.glf_mvBtn{position:absolute; left:50px; top:0;}
.glf_mvTxt{height:50px; line-height:50px; width:531px; text-align:center; font-size:30px; color:#29B6FF; font-family:Arial; margin:0 auto;}
#glf_loading  
{
    background:#F5FAFD;
position:absolute;  
text-align:center;  
 z-index:9999;

}  
</style>


</head>
<body>
<div id="glf_content">
</div>
<div id="glf_loading" style="width:100%;height:100%;padding-top:100px">
<div class="glf_mvTxt">Loading(0%)...</div>
<div class="glf_mvBox">
 <img class="glf_mvBtn" src="~/Content/themes/img/loading_1_1.png" alt="loading" style="left: 143px;"/>
</div>
</div>
<script type="text/javascript">
    //450
    var delVal = 30;
    var atVal = 450;
    var timeload;
    function autoMove() {
        if (delVal >= atVal) return;
        delVal++;
        if (delVal > atVal) {
            delVal = atVal;
        }
        $(".glf_mvBtn").css("left", delVal);
        $(".glf_mvTxt").text("Loading(" + parseInt(delVal / 4.5) + "%)...");
        if (delVal >= 450) {
            clearInterval(timeload);
            $("#glf_loading").remove();
        }

    }

    timeload = setInterval(autoMove, 16);
    $("#glf_content").load("../bs/index",false);
   
</script>
</body>
</html>
 
