
@{
    Layout = null;
}
<!DOCTYPE html>
<html style="height:600px">
<head>
    <title>Unicorn Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="~/Content/themes/metro/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="~/Content/themes/icon.css"/>
	<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.easyui.min.js"></script> 
</head>
<body>
<table id="dg" class="easyui-datagrid" title="Basic DataGrid" style="width:100%" > 
            <thead>
            <tr>
                <th data-options="field:'id',align:'center',width:100" >id</th>
                <th data-options="field:'UserCode',width:100" >UserCode</th>
                <th data-options="field:'Name',width:100" >Name</th>
                <th data-options="field:'Pwd',width:200" >Pwd</th>
                <th data-options="field:'Deptid',width:200" >Deptid</th>
                <th data-options="field:'Groupid',width:200" >Groupid</th>
                <th data-options="field:'UserType',width:200" >UserType</th>
                <th data-options="field:'CompareType',width:200" >CompareType</th>
            </tr>
        </thead>
 </table>
 <div id="tb" style="padding:2px 5px;">
        Name: 
        <input id="name" class="easyui-textbox" style="width:100px">
        From: <input id="from" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" style="width:110px">
        To: <input id="to" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" style="width:110px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="progress()">Search</a>
    </div>
    <div id="ft" style="padding:2px 5px;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"></a>
    </div>
 <script type="text/javascript">


     $(function () {

         $('#dg').datagrid({
             title: 'UserInfo',
             iconCls: 'icon-edit', //图标 
             //   width: 700, 
             height: 'auto',
             toolbar: '#tb',
             footer: '#ft',
             nowrap: false,
             striped: true,
             border: true,
             method: "get",
             collapsible: true, //是否可折叠的 
             fit: true, //自动大小 
             url: '../bs/userinfojson',
             //sortName: 'code', 
             //sortOrder: 'desc', 
             remoteSort: false,
             idField: 'fldId',
             singleSelect: true, //是否单选 
             rownumbers: true//行号 


         });

     });

     function myformatter(date) {
         var y = date.getFullYear();
         var m = date.getMonth() + 1;
         var d = date.getDate();
         return y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d);
     }
     function myparser(s) {
         if (!s) return new Date();
         var ss = (s.split('-'));
         var y = parseInt(ss[0], 10);
         var m = parseInt(ss[1], 10);
         var d = parseInt(ss[2], 10);
         if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
             return new Date(y, m - 1, d);
         } else {
             return new Date();
         }
     }

     function progress() {
         $('#dg').datagrid({
             url: '../bs/userinfojson',
             queryParams: {
                 name: $("#name").textbox('getValue'),
                 start: $("#from").datebox('getValue'),
                 end: $("#to").datebox('getValue')
             }
         });
     }

    </script>
</body>
</html>
