@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Unicorn Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/metro/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/icon.css" />
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easyui.min.js"></script>
</head>
<body>

<div id="userp" style="width:100%;padding:30px">
 UserCode<br />
    <input class="easyui-validatebox textbox" data-options="required:true,validType:'length[3,10]'"/>
                   
 
                    Name
                    Pwd
                   Deptid
                    Groupid
                    UserType
                    CompareType
</div>

    <table id="dg" class="easyui-datagrid" title="Basic DataGrid" style="width: 100%;display:none;">
        <thead>
            <tr>
                <th data-options="field:'id',align:'center',width:100">
                    id
                </th>
                <th data-options="field:'UserCode',width:100">
                    UserCode
                </th>
                <th data-options="field:'Name',width:100">
                    Name
                </th>
                <th data-options="field:'Pwd',width:200">
                    Pwd
                </th>
                <th data-options="field:'Deptid',width:200">
                    Deptid
                </th>
                <th data-options="field:'Groupid',width:200">
                    Groupid
                </th>
                <th data-options="field:'UserType',width:200">
                    UserType
                </th>
                <th data-options="field:'CompareType',width:200">
                    CompareType
                </th>
            </tr>
        </thead>
    </table>
     
   
   
    <div id="tb" style="padding: 2px 5px;">
    Search:
    <input id="search" class="easyui-textbox" data-options="prompt:'id|Name|UserCode'" style="width:150px"/>
    <select id="deptid" class="easyui-combobox" name="deptid" >
    <option value="0">ALL DEPT</option>
        <option value="1">DEP1</option>
        <option value="2">DEP2</option>
        <option value="3">DEP3</option>
        <option value="4">DEP4</option>
    </select>

    <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="progress()">Search</a>
    </div>
    <div id="ft" style="padding: 2px 5px;">
        <a href="#" class="easyui-linkbutton" iconcls="icon-add" onclick="useradd()" plain="true"></a><a href="#" class="easyui-linkbutton"
                iconcls="icon-edit" plain="true"></a><a href="#" class="easyui-linkbutton" iconcls="icon-remove"
                    plain="true"></a>
    </div>
    <script type="text/javascript">
        $("#userp").panel().panel("close");
       // $("#userp").panel("close");
        $(function () {

            $('#dg').datagrid({
                title: 'UserInfo',
                iconCls: 'icon-edit', //图标 
                //   width: 700, 
                height: 'auto',
                toolbar: '#tb',
                footer: '#ft',
                nowrap: false,
                striped: true,
                border: true,
                method: "get",
                collapsible: true, //是否可折叠的 
                fit: true, //自动大小 
                url: '../bs/userinfojson',
                //sortName: 'code', 
                //sortOrder: 'desc', 
                remoteSort: false,
                idField: 'fldId',
                singleSelect: true, //是否单选 
                rownumbers: true//行号 


            });

        });
        function useradd() {
            $(".datagrid").css("display", "none");
            $('#userp').panel("open").panel("maximize");
           // $('#userp').panel("refresh","../bs");
        }
        
        function progress() {
            $('#dg').datagrid({
                url: '../bs/userinfojson',
                queryParams: {
                    search: $("#search").textbox('getValue'),
                    deptid: $("#deptid").datebox('getValue')

                }
            });
            
        }

    </script>
</body>
</html>
