@{
    Layout = null;
}
<html>

<head>
    <meta name="viewport" content="width=device-width" charset="UTF-8" />
    <title>test</title>
	<link rel="stylesheet" type="text/css" href="~/Content/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="~/Content/themes/icon.css">
	<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.easyui.min.js"></script> 
</head>
<body>
<table id="dg" class="easyui-datagrid" title="Basic DataGrid" style="width:100%" > 
            <thead>
            <tr>
                <th data-options="field:'name',align:'center',resizable:false" width="20%">name</th>
                <th data-options="field:'sensorid',resizable:false" width="20%">sensorid</th>
                <th data-options="field:'usercode',resizable:false" width="20%">usercode</th>
                <th data-options="field:'checktime',resizable:false" width="40%">checktime</th>
            </tr>
        </thead>
 </table>
 <script type="text/javascript">

     function myLoader(param, success, error) {
         var that = $(this);
         var opts = that.datagrid("options");
         if (!opts.url) {
             return false;
         }
         var cache = that.data().datagrid.cache;
         if (!cache) {
             $.ajax({
                 type: opts.method,
                 url: opts.url,
                 data: param,
                 dataType: "json",
                 success: function (data) {
                     that.data().datagrid['cache'] = data;
                     success(bulidData(data));
                 },
                 error: function () {
                     error.apply(this, arguments);
                 }
             });
         } else {
             success(bulidData(cache));
         }
         function bulidData(data) {
             debugger;
             var temp = $.extend({}, data);
             var tempRows = [];
             var start = (param.page - 1) * parseInt(param.rows);
             var end = start + parseInt(param.rows);
             var rows = data.rows;
             for (var i = start; i < end; i++) {
                 if (rows[i]) {
                     tempRows.push(rows[i]);
                 } else {
                     break;
                 }
             }
             temp.rows = tempRows;
             return temp;
         }
     }

     $(function () {
        
         $('#dg').datagrid({ 
        title:'Attendance', 
        iconCls:'icon-edit',//图标 
     //   width: 700, 
        height: 'auto', 
        nowrap: false, 
        striped: true,
        border: true,
        method: "get",
        loader: myLoader,
        collapsible:true,//是否可折叠的 
        fit: true,//自动大小 
        url: '../Attendance/GetData', 
        //sortName: 'code', 
        //sortOrder: 'desc', 
        remoteSort:false,  
        idField:'fldId', 
        singleSelect:true,//是否单选 
        pagination:true,//分页控件 
        rownumbers:true//行号 
//        frozenColumns:[[ 
//            {field:'ck',checkbox:true} 
//        ]] 

    });
    var pager = $('#dg').datagrid().datagrid('getPager');    // get the pager of datagrid
         pager.pagination({
             pageSize: 10, //每页显示的记录条数，默认为10 
             pageList: [5, 10, 15,20], //可以设置每页记录条数的列表 
             beforePageText: '', //页数文本框前显示的汉字 
             afterPageText: '{pages}',
             displayMsg: '{from} - {to} {total} ',
             buttons: [{
                 iconCls: 'icon-search',
                 handler: function () {
                     alert('search');
                 }
             }, {
                 iconCls: 'icon-add',
                 handler: function () {
                     alert('add');
                 }
             }, {
                 iconCls: 'icon-edit',
                 handler: function () {
                     alert('edit');
                 }
             }]
         });
     })
    </script>
</body>

</html>